{sub_dirs, ["apps/siftbulk",
            "rel"]}.
{erl_opts, [debug_info]}.
{cover_enabled, false}.
{deps, [
 {meck, ".*",
  {git, "https://github.com/eproxus/meck.git", {tag, "0.8"}}}
]}.
{sub_dirs, ["rel"]}.
{dialyzer_opts, [{warnings, [unmatched_returns,
                             error_handling,
                             race_conditions,
                             underspecs]}, src]}.
{xref_checks, [undefined_function_calls]}.