[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 %% Siftbulk config, make sure to use lists not binaries for strings
 {siftbulk, [{auth, [{username, "TestKey"}, 
             {password, "e261742d-fe2f-4569-95e6-312689d04903"}]}]}
].

