[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 %% Siftbulk config, make sure to use lists not binaries for strings
 {siftbulk, [{auth, [{username, "TestKeyForErlangFTP"}, 
                     %% {port, 10}, % example override
                     {password, "db13fe1f-591a-479b-b4ef-54f353d05336"}]}]}
].

