{sys, [
       {lib_dirs, ["../apps","../deps"]},
       {rel, "siftbulk", "1",
        [
         kernel,
         stdlib,
         sasl,
         siftbulk
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "siftbulk"},
      
       {incl_cond, derived},
       {excl_archive_filters, [".*"]},
       {mod_cond, derived},
       %% {debug_info, strip},
       {app, hipe, [{incl_cond, exclude}]},

       {excl_sys_filters,
        ["^bin/.*",
         "^erts.*/bin/(dialyzer|typer)",
         "^erts.*/(doc|info|lib|man|src)",
         "man"]},
       {incl_app_filters, ["^ebin", "^priv", "^include"]},
       {excl_app_filters, ["\.gitignore"]}
      ]}.

{target_dir, "siftbulk"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/siftbulk", "bin/siftbulk"},
           {copy, "files/siftbulk.cmd", "bin/siftbulk.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
